/* Table of Contents */


/* Utility Classes */

.margin-top-twentyfive {
    margin-top: 25px;
}

.margin-top-fifty {
    margin-top: 50px;
}

.margin-top-hundred {
    margin-top: 100px;
}

.margin-top-minusfifty {
    margin-top: -50px;
}

.margin-bottom-fifty {
    margin-bottom: 50px;
}

.padding-top-twentyfive {
    padding-top: 25px;
}

.padding-bottom-twentyfive {
    padding-bottom: 25px;
}

.padding-top-fifty {
    padding-top: 50px;
}

.padding-bottom-fifty {
    padding-bottom: 50px;
}

.background-grey-ddd {
    background-color: #ddd;
}

.display-inline-block {
    display: inline-block;
}

/* General */

body {
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
}

h1 {
    font-family: 'Zilla Slab', serif;
    font-weight: 600;
    color: #244846;
    font-size: 3.25rem;
    margin-top: 125px;
    margin-bottom: 5px;
}

h1 + p {
    font-size: 1.125rem;
    font-weight: 500;
}

h3 {
    font-family: 'Zilla Slab', serif;
    font-weight: 600;
    color: #244846;
    border-bottom: 1px solid #999;
    font-size: 2.5rem;
    line-height: 0.2rem;
}

h3 span { 
    background:#fff; 
    padding: 0 25px; 
}

button {
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    line-height: 3rem;
    font-size: 1.125rem;
    font-weight: 500;
}

/* Navbar */

nav {
    box-shadow: none;
    background-color: #244846;
    width: 75%;
    margin: auto;
    margin-top: 15px;
    z-index: 1;
    position: relative;
}

.logo {
    height: 45px;
    padding-left: 35px;
    padding-bottom: 2px;
    vertical-align: middle;
}

.button-signup{
    border: 2px solid #fff;
    border-radius: 10px;
    line-height: 34px;
    margin-top: 14px;
    font-weight: 500;
}

.button-signup:hover {
    background-color: #fff;
    color: #244846;
}

.button-login {
    border: 2px solid #fff;
    background-color: #fff;
    color: #244846;
    border-radius: 10px;
    line-height: 34px;
    margin: 14px 35px 0px 15px;
    font-weight: 500;
}

.button-login:hover {
    border: 2px solid #fff;
    background-color: #244846;
    color: #fff
}


/* Flash messages */

.flash-messages {
    background-color: #d0ccb4;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 15px 0px;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
}


/* Footer */

footer {
    background-color: #333;
    color: #fff;
}

.logo-footer {
    height: 50px;
}

h4 {
    font-family: 'Zilla Slab', serif;
    font-weight: 600;
    color: #fff;
    border-bottom: 1px solid #aaa;
    font-size: 1.75rem;
    line-height: 0.2rem;
}

h4 span { 
    background:#333; 
    padding: 0 10px; 
}

.footer-par {
    padding: 10px 20px;
    font-weight: 300;
}

.footer-par a {
    color: #84cfd6;
    font-weight: 500;
}

.footer-par a:hover {
    color: #fff;
}

.social {
    border: 1px solid #aaa;
    padding: 8px;
    border-radius: 50%;
    margin: 25px 9px;
    font-size: 1.625rem;
    text-align: center;
    width: 42px;
    text-decoration: none;
    color: #fff;
}

.developed-by {
    border-top: 1px solid #aaa;
    font-size: .75rem;
    padding: 10px 0px 0px;
    font-weight: 300;
}


/* Landing page */

.landing-banner-desktop {
    position: relative;
    top: -80px;
}

.button-banner-signup {
    border: 3px solid #244846;
    margin-top: 10px;
    background-color: rgba(255,255,255,0.25);
    color: #244846;
    font-weight: 700;
    text-align: center;
    border-radius: 10px;
    line-height: 3rem;
    font-size: 1.125rem;
}

.button-banner-signup:active,
.button-banner-signup:hover {
    border: 2px solid #244846;
    background-color: #244846;
    color: #fff;
    -webkit-transition: background-color 0.3s ease-in;
    -moz-transition: background-color 0.3s ease-in;
    -o-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
}

.par-landing-ready {
    line-height: 2rem;
}

.ad-full-desktop {
    display: block;
}

.ad-full-mobile {
    display: none;
}

.white-panel {
    background-color: #fff;
    height: 50px;
    width: 100%;
    box-shadow: 0px -8px 8px rgba(99, 99, 99, .3);
    margin-top: -20px;
    position: relative;
    z-index: 1;
}

/* ----- CODE CREDIT ----- */
/* https://www.w3schools.com/howto/howto_css_image_overlay_title.asp */

.overlay-container {
    position: relative;
    width: 100%;
    max-width: 300px;
    display: inline-block;
    margin: 0px 15px;
}

.overlayed-image {
    width: 320px;
    height: auto;
}

.overlay {
    position: absolute; 
    top: 0; 
    background: rgba(0, 0, 0, 0.5);
    width: 320px;
    height: 145px;
    transition: .5s ease;
    opacity:0;
}

.overlay-container:hover .overlay {
  opacity: 1;
}

/* ----- END OF CODE CREDIT ----- */


/* Sign up page */

.input-space {
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 10px;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

.input-title {
    font-size: 1.125rem;
    font-weight: 700;
    margin-top: 0px;
}

.input-title span {
    font-weight: 300;
    font-size: 1rem;
}

.green-button-full {
    background-color: #244846;
    color: #fff;
    border: none;
    -webkit-transition: background-color 0.3s ease-out;
    -moz-transition: background-color 0.3s ease-out;
    -o-transition: background-color 0.3s ease-out;
    transition: background-color 0.3s ease-out;
}

.green-button-full:hover {
    background-color: #4f807e;
}

.click-here {
    font-weight: 600;
    color: #4f807e;
}

.click-here:hover {
    font-weight: 600;
    color: #244846;
}


/* Override Materialize */

.parallax-container~.parallax-container {
    height: 375px;
}

.parallax-container~.parallax-container~.parallax-container {
    height: 600px;
}


/* Media queries */

@media screen and (max-width: 1430px) {
    .image-latest-three {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    nav {
    width: 100%;
    }
    nav {
        margin-top: 0px;
    }
}


@media screen and (max-width: 992px) {
    .logo {
        padding-left: 0px;
    }

    .ad-full-desktop {
        display: none;
    }

    .ad-full-mobile {
        display: block;
    }
}

@media screen and (max-width: 781px) {
    .image-latest-two {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    h3 {
        border-bottom: none;
        font-size: 2.25rem;
        line-height: 2.75rem;
        text-align: center;
        margin-top: -50px;
    }

    h3 span {
        padding: 0px 10px;
    }

    .par-landing-ready {
        margin-top: -25px;
    }
}