{% extends "base.html" %}

<!-- Extra scripts for EmailJS -->
{% block styles %}
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js">
    </script>
    <script type="text/javascript">
    (function(){
        emailjs.init("user_HkNSXwtzpi7DbBHRTmoyO");
    })();
    </script>
{% endblock %}

{% block content %}
<h3 class="center-align margin-top-fifty"><span>Contact us</span></h3>

<p class="margin-top-fifty center-align">
    We’d love to hear from you.
    Simply fill in the contact form and we’ll get back to you.
<br>
    Alternatively, jump onto one of our social networks to learn more.
</p>
<p class="center-align">
    We value your privacy and will never share your information with anyone.
</p>

<p id="flash-messages-email" class="flash-messages-email"></p> 

<div class="row background-grey-ddd margin-top-fifty padding-top-twentyfive padding-bottom-twentyfive">
    <form onsubmit="return sendMail(this);" class="col s12 m8 offset-m2">
        <!-- Name -->
        <div class="row">
            <p class="input-title col s10 offset-s1">Your name</p>
            <div class="input-field col s10 offset-s1 input-space">
                <input id="name" name="name" type="text" required>
                <label for="name">Enter your name...</label>
            </div>
        </div>
        <!-- Email -->
        <div class="row">
            <p class="input-title col s10 offset-s1">Your email</p>
            <div class="input-field col s10 offset-s1 input-space">
                <input id="email" name="email" type="email" class="validate" required>
                <label for="email">Enter your email...</label>
            </div>
        </div>
        <!-- Message -->
        <div class="row">
            <p class="input-title col s10 offset-s1">Your message</p>
            <div class="input-field col s10 offset-s1 input-space textarea-space">
                <textarea placeholder="Type your message..." id="message" name="message" type="text" class="materialize-textarea" required></textarea>
            </div>
        </div>

        <!-- Submit button -->
        <div class="row margin-top-fifty">
            <button type="submit" class="col s6 offset-s3 green-button-full cursor-pointer">Submit</button>
        </div>
    </form>
  </div>
{% endblock %}

<!-- Extra scripts for EmailJS -->
{% block scripts %}
    <script src="{{ url_for('static', filename='js/sendEmail.js') }}"></script>
{% endblock %}