{% extends "base.html" %}
{% block content %}

    {% for fullrecipe in fullrecipes %}

        <div class="card-panel">
            <!-- Recipe name -->
            <div class="row">
                <h2 class="col s12 margin-bottom-minusten">{{ fullrecipe.recipe_name }}</h2>
            </div>

            <!-- Recipe descriptions -->
            <div class="row">
                <div class="col s12 full-recipe-descriptions">
                    <div class="display-inline-block"><strong>Category: </strong> {{ fullrecipe.category_name }}</div>
                    <div class="display-inline-block"><strong>Cooking Time: </strong>{{ fullrecipe.cooks_in }} mins.</div>
                    <div class="display-inline-block"><strong>Serves: </strong>{{ fullrecipe.serves }}</div>
                </div>
            </div>

            <!-- Recipe image / ingredients / method -->
            <div class="row">
                <img class="col s12 m8" src="{{ fullrecipe.image }}" alt="Recipe">
                <div class="col s12 m4 margin-top-twentyfive">
                    <strong>Ingredients: </strong>
                    <p>{{ fullrecipe.ingredients }}</p>
                </div>
                <div class="col s12 margin-top-twentyfive full-recipe-method">
                    <strong class="strong-method">Method: </strong>
                    <p>{{ fullrecipe.method }}</p>
                </div>
            </div>
        </div>
        <!-- Edit / Delete buttons -->

        {% if session.user|lower == fullrecipe.created_by|lower %}
            <div class="row margin-top-seventyfive center-align">
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="col s5 offset-s1 m4 offset-m2 l3 offset-l3 button-edit">Edit</a>
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="col s5 m4 l3 button-delete">Delete</a>
            </div>
        {% endif %}

    {% endfor %}

{% endblock %}
