{% extends "base.html" %}

{% block parallax %}
    <!-- Parallax effect images -->
    <div class="row parallax-container landing-banner-desktop">
        <h1 class="col s10 offset-s1 m7 offset-m1 l5 offset-l2">Your Online Recipe Manager</h1>
        <p class="col s10 offset-s1 l8 offset-l2">Create your own cookbook and fill it with your favourite recipes.</p>
        <a href="{{ url_for('signup') }}" class="col s6 offset-s1 m3 offset-m1 l2 offset-l2 button-banner-signup">Sign up here</a>
        <div class="parallax">
            <img src="{{ url_for('static', filename='images/landing-banner-desktop.jpg') }}" alt="Cookable - Landing page banner">
        </div>
    </div>
    <div class="section white">
        <div class="row container">
            <h3 class="center-align margin-bottom-fifty margin-top-minusfifty"><span>Ready to get started?</span></h3>
            <p class="col s12 m10 offset-m1 margin-bottom-fifty par-landing-ready">Cookable is your very own personal recipe organiser.
                Save your favourite recipes from websites, magazines, recipe books or simply those from your head,
                all in one place, accessible on all of your devices, anytime.
                Quickly search for recipes uploaded by other users to discover new culinary frontiers.
                Featuring, a simple and clean interface, Cookable is the perfect cooking companion.</p>
        </div>
    </div>
    <div class="parallax-container ad-full-desktop">
        <div class="parallax">
            <img src="{{ url_for('static', filename='images/schmickser-ad-1920px.jpg') }}" alt="Schmickser mixer ad">
        </div>
    </div>
    <div class="parallax-container ad-full-mobile">
        <div class="parallax">
            <img src="{{ url_for('static', filename='images/schmickser-ad-1000px.jpg') }}" alt="Schmickser mixer ad">
        </div>
    </div>
{% endblock %}

{% block overfooter %}
    <!-- Latest recipes -->
    <div class="row container center-align margin-bottom-fifty">
        <h3 class="margin-top-hundred"><span>Latest recipes</span></h3>
    </div>

    <div class="container center-align"> 
        <div class="display-inline-block">
            <a class="overlay-container" href="{{ url_for('get_recipes') }}">
                <img class="overlayed-image" src="{{ url_for('static', filename='images/roast-chicken-latest.jpg') }}" alt="Latest recipes">
                <div class="overlay"></div>
            </a>
        </div>

        <div class="display-inline-block image-latest-two">
            <a class="overlay-container" href="{{ url_for('get_recipes') }}">
                <img class="overlayed-image" src="{{ url_for('static', filename='images/pasta-carbonara-latest.jpg') }}" alt="Latest recipes">
                <div class="overlay"></div>
            </a>
        </div>

        <div class="display-inline-block image-latest-three">
            <a class="overlay-container" href="{{ url_for('get_recipes') }}">
                <img class="overlayed-image" src="{{ url_for('static', filename='images/pumpkin-soup-latest.jpg') }}" alt="Latest recipes">
                <div class="overlay"></div>
            </a>
        </div> 
    </div>
    <div class="col s12 white-panel"></div>
{% endblock %}