{% extends "base.html" %}
{% block content %}

<h3 class="center-align margin-top-fifty"><span>Recipes</span></h3>

<!-- Search Field -->
<div class="row margin-top-fifty">
    <div class="col s12">
        <form class="row search-form" action="{{ url_for('search') }}" method="POST">
            <div class="input-field col s8 m6 offset-m2 input-space">
                <input id="search" name="search" type="text" maxlength="30">
                <label for="search">Find recipe by keyword...</label>
            </div>
            <div class="col s4 m2">
                <div class="row">
                    <button class="col s5 offset-s1 search-button"><i class="fas fa-search"></i></button>
                    <a class="col s5 clear-button" href="{{ url_for('get_recipes') }}"><i class="fas fa-times"></i></a>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Recipe Card -->
<div class="flex-container margin-top-fifty">
{% for recipe in recipes %}
    <div>
        <a class="recipes-overlay-container" href="{{ url_for('full_recipe', recipe_id=recipe._id) }}">
            <img class="flex-image" src="{{ recipe.image }}" alt="Recipe">
            <!-- <img class="flex-image" src="{{ url_for('static', filename='images/roast-chicken.jpg') }}" alt="Recipe"> -->
            <div class="recipes-overlay"></div>
            <div class="recipes-title">{{ recipe.recipe_name }}</div>
        </a>
    </div>
{% endfor %}
</div>

{% endblock %}
